<div class="fs-row.gap-sm">
  <button
      mat-raised-button
      (click)="exportAccounts()">
    Export Accounts
  </button>

  <button
      mat-raised-button
      (click)="charge()">
    Charge Bank Account
  </button>

  <button
      mat-raised-button
      (click)="dbDrop()">
    Drop Database
  </button>

  <button
      mat-raised-button
      (click)="apiSuccess()">
    API Success
  </button>

  <button
      mat-raised-button
      (click)="apiKeepAliveError()">
    API Keep Alive Error
  </button>

  <button
      mat-raised-button
      (click)="apiError()">
    API Error
  </button>

  <button
      mat-raised-button
      (click)="withError()">
    Error in 2 sec
  </button>
</div>