.process {
  display: flex;
  align-items: center;
  line-height: 35px;

  .name {
    flex-grow: 1;

    &.killed {
      text-decoration: line-through;
    }
  }
}

.actions {
  margin-left: 20px;
}
