.process {
  display: flex;
  align-items: center;

  .name {
    flex-grow: 1;
    margin-right: 10px;
  }
}

mat-progress-spinner {
  margin-right: 15px;
}

.status {
  mat-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  &.F,
  &.K {
    mat-icon {
      color: red;
    }
  }

  &.C {
    mat-icon {
      color: green;
    }
  }
}

.header {
  display: flex;
  align-items: baseline;

  h2 {
    flex: 1
  }
}
