<div class="header">
  <h2 mat-dialog-title>
    Processing
  </h2>

  <span *ngIf="timeToClose && readyToClose$ | async" class="closing">
    Closing in {{ closeIn$ | async }} sec
  </span>

  <button mat-icon-button [mat-dialog-close]="null">
    <mat-icon matTooltip="Close">close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <ng-container *ngFor="let process of processes$ | async">
    <div       
        class="process" 
        [ngClass]="process.state$ | async">
      <div class="message" (click)="viewProcess(process)">
        {{process.name}}<ng-container *ngIf="(process.message$ | async)">:
          {{process.message$ | async}}
        </ng-container>
      </div>
      <div class="status">
        <ng-container [ngSwitch]="process.state$ | async">
          <ng-container *ngSwitchCase="ProcessState.Failed">
            <mat-icon [matTooltip]="'Failed'">report_problem</mat-icon>
          </ng-container>

          <ng-container *ngSwitchCase="ProcessState.Success">
            <mat-icon [matTooltip]="'Complete'">done</mat-icon>
          </ng-container>

          <ng-container *ngSwitchCase="ProcessState.Cancelled">
            <mat-icon 
                class="cancel"
                [matTooltip]="'Cancelled'">
              report_problem
            </mat-icon>
          </ng-container> 
        </ng-container> 
      </div>
      <ng-container *ngIf="(process.state$ | async) === ProcessState.Running">
        <div class="action">
          <div class="spinner">
            <mat-progress-spinner
              [diameter]="25"
              mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <button 
              type="button"  
              class="cancel"
              mat-icon-button 
              (click)="process.cancel()" 
              [matTooltip]="'Cancel'">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
</mat-dialog-content>
